/*General Stylings*/

body {
  overflow-x: hidden;

  color: white;
  background-color: black;

  font-family: hobo-std, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 30px;
}

ul {
  list-style: none;
}

li {
  position: absolute;

  list-style: none;
}

h1 {
  position: relative;

  text-align: center;

  color: #d8945c;
  background-color: black;
}

img {
  /* max-width: 100%; */
  height: 100%;
}

hr {
  width: 100%;

  border-color: white;
}

button {
  border-radius: 10px;
  background-color: white;

  font-weight: 500;
}

button:hover {
  color: white;
  border-color: #d8945c;
  background-color: #d8945c;
}

button:active {
  color: white;
  background-color: #d76507;
}

button:focus {
  outline: none;
}

/*Class Stylings*/

#game-start-form {
  align-items: center;
  justify-content: center;

  padding: 2em 3em;

  text-align: center;
}

#joined-player-list .joined-player-item {
  display: inline-block;

  padding: 16px;

  text-align: center;
}

.mini-form {
  padding: 2em 3em;
}

.about-links {
  padding: 2vh;

  text-align: center;

}

header {
    display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 15px;

  text-align: center;
}

h2 {
  color: #d8945c;
}

.submit-fake-vote {
  display: block;

  font-size: 30px;
}

.voteCard {
  /* margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px; */
  width: unset;
  height: 160px;
}

.votesDisplayCard {
  flex: 0 1 auto;

    margin: 0px 10px;

text-align: center;
}

.hand-card-div {
  position: relative;

  overflow: hidden;

box-sizing: border-box;
  max-width: min(calc(100% / 6), 100px);
height: 160px;
  margin: 0 -20px;
  margin: 10px -10px 0 -10px;
  padding: 0;

  cursor: pointer;
  transition: max-width 500ms ease, margin 500ms ease;

    border: 1px solid white;
  border-radius: 4px;
  box-shadow: 6px 2px 9px 4px #000000;
}

.hand-card-div.hand-card-active {
  margin: 0px 20px 10px 20px;
}

.lightbox-button {
  position: absolute;
  right: 3px;
  bottom: 3px;

  width: 25px;
  height: 25px;
  padding: 2px;

  border-radius: 5px;
  background: white;
}

.result p {
  position: static;
}

.player-card {
  float: right;

  width: unset;
  max-width: unset;
}

.caret {
  float: left;

  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.player-icon {
  left: 20px;

  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.error-message {
  color: red;
}

.error-message hr {
  border-color: red;
}

.vote-selected {
  border-width: 5px;
  border-style: solid;
  border-color: green;
}

.message:nth-child(2n + 0) {
  color: black;
  background-color: lightgray;
}

/*Specific ID stylings*/

#chat-messages {
  overflow-y: auto;

  min-height: 60px;
  max-height: 500px;
}

#board {
  position: relative;
  /* height: 600px; */

  width: 100%;
  min-height: 400px;
  margin-bottom: 10px;
  padding: 10px;

  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: white;
}

#board button {
  margin-top: 10px;
}

.splay-deck {
  flex-wrap: nowrap;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

#code-label {
  font-weight: 600;
}

/* #learn-link {
  position: absolute;
  top: 3rem;
  right: 1%;

  color: #d8945c;

  font-size: 17px;
  font-weight: 600;
} */

#selected-card {
    position: relative;

    display: block;
  float: unset;

  height: 400px;
    margin: auto;
  margin-top: 10px;
}

#lightBox {
  position: fixed;
  z-index: 10;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: black;
}

#img-viewer img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);

  object-fit: contain;
}

#clue-input {
  width: 100%;
  height: 50px;
}

#exit-button {
  position: absolute;
z-index: 2;
  right: 8px;

  width: 50px;
  height: 49px;
  padding: 0;

  color: red;
  border: none;
  background: rgb(51 51 51 / 81%);
  text-shadow: 2px 2px #611b0f;

  font-size: 30px;
  font-weight: 900;
}

#exit-button:hover,#exit-button:focus {
  background-color: rgba(210 105 30 / 81%);
}

#title {
  width: 225px;
  height: 112.5px;
}

#scores p {
  font-size: larger;
  font-weight: 600;
}

#chat p {
  font-size: larger;
  font-weight: 600;
}

#chat .row {
  width: 100%;
}
