:root {
  --main-bg-color: black;
  --boundry-line-color: #808080;
  --header-color: #ffffff;
  --subheader-color: #c79b6d;
  --accent-color: #c67d2f;
  --large-body-text-color: #e4e4e4;
  --detail-text-color: white;
  --button-text-color: black;
  --button-bg-color: white;
  --button-hover-bg-color: #c79b6d; /*#d8945c;*/
  --button-click-bg-color: #c67d2f; /* #d76507; */
}

::selection {
  background: #a52222; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #a52222; /* Gecko Browsers */
}

* {
  user-select: none;
}

/*General Stylings*/
html,
body {
  display: flex;
  overflow-x: hidden;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: white;
  background-color: VAR(--main-bg-color);

  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 30px;
}

ul {
  list-style: none;
}

li {
  position: absolute;

  list-style: none;
}

h1 {
  position: relative;

  text-align: center;

  color: VAR(--header-color);
  background-color: black;

  font-family: hobo-std, sans-serif;
}

h2 {
  color: VAR(--header-color);

  font-family: hobo-std, sans-serif;
}

img {
  /* max-width: 100%; */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#title.corner-logo {
  position: relative;
}

hr {
  width: 100%;

  border-color: VAR(--boundry-line-color);
}

button {
  margin: 10px;
  padding: 5px 10px;

  color: VAR(--button-text-color);
  border-radius: 15px;
  background-color: VAR(--button-bg-color);

  font-family: hobo-std, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

button:hover {
  color: white;
  border-color: VAR(--accent-color);
  background-color: VAR(--button-hover-bg-color);
}

button:active {
  color: white;
  background-color: VAR(--button-click-bg-color);
}

button:focus {
  outline: none;
}

#sidebar {
  flex: 0 1 0;

  padding: 15px;

  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: VAR(--boundry-line-color);
}

.caret-header {
  cursor: pointer;
  text-align: center;
}

/*Class Stylings*/

#game-start-form {
  align-items: center;
  justify-content: center;

  padding: 3px 6px;

  text-align: center;
}

#game-start-form input {
  margin-top: 0.2em;
  padding: 3px 6px;

  font-weight: bold;
}

#game-start-form select {
  margin-top: 0.2em;
  padding: 6px 15px;
  padding: 6px 45px 6px 5px;

  font-weight: bold;
}

#joined-player-list .joined-player-item {
  display: inline-block;

  padding: 16px;

  text-align: center;
}

.mini-form {
  padding: 2em 3em;
}

.about-links {
  padding: 2vh;

  text-align: center;

  color: VAR(--header-color);

  font-family: "Montserrat", "Open Sans", sans-serif;
}

header {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 15px 20px;

  text-align: center;
}

.submit-fake-vote {
  display: block;

  font-size: 30px;
}

.voteCard {
  /* margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px; */
  width: unset;
  height: 160px;
}

.votesDisplayCard {
  flex: 0 1 auto;

  margin: 0px 10px;

  text-align: center;
}

.hand-card-div {
  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  max-width: min(calc(100% / 6), 100px);
  height: 160px;
  margin: 0 -20px;
  margin: 10px -10px 0 -10px;
  padding: 0;

  cursor: pointer;
  transition: max-width 500ms ease, margin 500ms ease;

  border: 1px solid VAR(--boundry-line-color);
  border-radius: 4px;
  box-shadow: 6px 2px 9px 4px #000000;
}

.hand-card-div.hand-card-active {
  margin: 0px 20px 10px 20px;
}

.lightbox-button {
  position: absolute;
  right: 3px;
  bottom: 3px;

  width: 25px;
  height: 25px;
  padding: 2px;

  border-radius: 5px;
  background: white;
}

.result p {
  position: static;
}

.player-card {
  height: 100%;
}

.caret {
  float: left;

  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.player-icon {
  width: 45px;
  height: 45px;
  margin-left: 30px;
}

.error-message {
  color: red;
}

.error-message hr {
  border-color: red;
}

.vote-selected {
  border-width: 5px;
  border-style: solid;
  border-color: VAR(--accent-color);
}

/*Specific ID stylings*/
#chat
{
  overflow: hidden;flex-basis: 0;}
#chat-messages {
  overflow-y: auto;

  min-height: 60px;
}

#board {
  flex-grow: 1;

  min-height: 400px;

  text-align: center;
}

#board button {
  margin-top: 10px;
}

.splay-deck {
  position: relative;

  display: flex;
  flex: 0 1 0;
  flex-wrap: nowrap;
  justify-content: center;

  box-sizing: border-box;
  padding: 10px;
}

#code-label {
  font-weight: 600;
}

.learn-link {
  position: relative;

  color: #d8945c;

  font-size: 17px;
  font-weight: 600;
}


#selected-card {
  position: relative;

  display: block;
  flex: 0 1 0px;

  margin-top: 1rem;
}

#lightBox {
  position: fixed;
  z-index: 10;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: black;
}

#img-viewer img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);

  object-fit: contain;
}

#clue-input {
  width: 100%;
  height: 50px;
}

#exit-button {
  position: absolute;
  z-index: 2;
  right: 8px;

  width: 50px;
  height: 49px;
  padding: 0;

  color: red;
  border: none;
  background: rgb(51 51 51 / 81%);
  text-shadow: 2px 2px #611b0f;

  font-size: 30px;
  font-weight: 900;
}

#exit-button:hover,
#exit-button:focus {
  background-color: rgba(210 105 30 / 81%);
}

#title {
  position: absolute;
  top: 0;
  left: 50%;

  width: 225px;
  height: 112.5px;

  transform: translateX(-50%);
}

#scores p {
  font-size: larger;
  font-weight: 600;
}

#chat p {
  font-size: larger;
  font-weight: 600;
}

#chat .row {
  width: 100%;
}
