/*General Stylings*/

body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    position: absolute;
}

h1 {
    background-color: black;
    text-align: center;
    color: green;
    position: relative;
}

img {
    height: 200px;
    width:120px;
}

hr {
    border-color: white;
}

/*Class Stylings*/

.hand-card-div {
    margin-left: 20px;
    float: left;
}

.player-card {
    padding-left: 10px;
    padding-right: 0px;
    width: 130px;
    height: 200px;
}

.player-card:hover {
    opacity: 0.8;
}

.caret {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

/*Specific ID stylings*/

#board {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
}

#hand {
    padding-top: 10px;
    padding-bottom: 10px;
}

#result {
    float: left;
}

#code {
    position: absolute;
    right: 1%;
}

#selected-card {
    height: 400px;
    width: 315px;
    margin-top: 10px;
    margin-right: 10px;
}

#lightBox {
    position: absolute;
    padding: 10px;
    top: 5px;
    height: 1700px;
    width: 1300px;
    background-color: black;
}

#img-viewer img {
    margin-left: 20px;
    height: 1600px;
    width: 1100px;
}

#clue-input {
    width: 100%;
    height: 50px;
}

#exit-button {
    position: absolute;
    left: 10px;
}

#title {
    font-weight: 900;
    text-shadow: 2px 2px #0f610f;
}