/*General Stylings*/

body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    position: absolute;
}

h1 {
    background-color: black;
    text-align: center;
    color: green;
    position: relative;
}

img {
    height: 166px;
    width: 128px;
    max-width: 100%;
}

hr {
    border-color: white;
}

button {
    border-radius: 10px;
    font-weight: 500;
    font-size: medium;

    background-color: white;
}

button:hover {
    background-color: #24861d;
    color:white;
    border-color: #24861d;
}

button:active {
    background-color: #0e620b;
    color:white;
}

button:focus {
    outline:none;
}

/*Class Stylings*/

.voteCard {
    margin-left: 5px;
    margin-right: 5px;
}

.hand-card-div {
    position: relative;
}

.lightbox-button {
    position:absolute;
    left: 15px;
    bottom:0px;
    border-radius: 5px;
    height: 20px;
    width: 20px;

    z-index: 6;
}


.result p {
    position: static;
}

.player-card {
    margin-top: 10px;
}

.player-card:hover {
    opacity: 0.8;
}

.caret {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
}


.player-icon{
    height:45px;
    width:45px;
    left: 20px;
    margin-left: 10px;
}

.error-message {
    color:red;
}

.error-message hr {
    border-color: red;
}

.vote-selected {
    border-style: solid;
    border-width: 5px;
    border-color: green;
}

/*Specific ID stylings*/

#board {
    position: relative;
    /* height: 600px; */
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;

    min-height: 400px;
}

#hand {
    padding-top: 10px;
    padding-bottom: 10px;
}



#code {
    position: absolute;
    right: 1%;
}

#selected-card {
    height: 400px;
    width: 300px;
    margin-top: 10px;
    margin-right: 10px;
}

#lightBox {
    position: absolute;

    padding: 10px;
    top: 5px;

    height: 1430px;
    width: 100%;

    background-color: black;
}

#img-viewer img {
    margin-left: 20px;
    height: 1430px;
    width: 1100px;
}

#clue-input {
    width: 100%;
    height: 50px;
}

#exit-button {
    position: absolute;
    left: 30px;

    font-weight: 900;
    color: red;
    text-shadow: 2px 2px #611b0f;
    font-size: 30px;

    border: 0px 0px 0px 0px;
    background-color: rgba(210, 105, 30, 0);
}

#title {
    margin-top:15px;
    height: 112.5px;
    width: 225px;
}

#scores p {
    font-weight: 600;
    font-size: larger;
}
