/*General Stylings*/

body {
    background-color: black;
    color: white;
}

h1 {
    background-color: black;
    text-align: center;
    color: green;
    position: relative;
}

img {
    height: 200px;
    width: 120px;
}

hr {
    border-color: white;
}

/*Class Stylings*/

.player-card {
    margin-left: 20px;
}

/*Specific ID stylings*/

#board {
    position: relative;
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
}

#hand {
    padding-top: 10px;
    padding-bottom: 10px;
}

#result {
    float: left;
}

#code {
    position: absolute;
    right: 1%;
}

#selected-card {
    height: 400px;
    width: 315px;
    margin-top: 10px;
    margin-right: 10px;
}

#lightBox {
    position: absolute;
    top: 5px;
    height: 1700px;
    width: 100%;
    background-color: azure;
}

#img-viewer img {
    margin-left: 70px;
    height: 1600px;
    width: 960px;
}